DATABASE_URL="your_postgresql_connection_string"

AWS_REGION="your_aws_region"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_S3_BUCKET="your_s3_bucket_name"

GALLERY_ACCESS_SECRET="your_gallery_access_secret"
